<table class="aui">
    <thead>
        <tr>
            <th id="selector">Selector</th>
            <th id="context">Context</th>
            <th id="action">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            <td headers="selector">
                <pre><code class="css">{{selector}}</code></pre>
            </td>
            <td headers="context">
                {{#if context}}
                <pre><code class="html">{{context}}</code></pre>
                {{else}}
                n/a
                {{/if}}
            </td>
            <td class="action" headers="action">
                <ul class="menu">
                    {{#if help_url}}
                    <li>
                        <a href="{{help_url}}" target="_blank"><span class="aui-icon aui-icon-small aui-iconfont-info">Help</span></a>
                    </li>
                    {{/if}}
                </ul>
            </td>
        </tr>
        {{/rows}}
    </tbody>
</table>
